.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

html {
  font-size: 125%;
}

body {
  background-color: #F9F2ED;
  text-align: center;
 
}

.wrapper {
  margin: 0 auto;
}

h1, h2, p {
  font-family: 'Luckiest Guy', cursive;
  color:#262626;
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  max-width: 70%;
  margin: 0 auto;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  font-size: 1.4rem;
}

p {
  font-size: 1.2rem;
}

a{
  text-decoration: none;
  color: #ea593e;
}
a:hover {
  color: #F9F2ED;
}
header {
  padding: 50px;
  
}
footer {
  background-color: #262626;
}
footer p {
  color: #ea593e;
  font-size: 0.8rem;
  padding: 10px;
 
}

label, select {
  font-family: 'Luckiest Guy', cursive;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  padding: 5px 10px;
  margin-bottom: 20px;
}

select {
  background-color: #F87474;
  border-radius: 20px;
  padding: 10px;
}

.textContainer {
  border: 10px solid #3AB0FF;
  border-radius: 10px;
  background-color: #FFB562;
  padding: 20px;
  max-width: 40%;
  margin: 0 auto;
  margin-bottom: 140px;

}


@media(max-width: 480px) {
  h1 {
    font-size: 1rem;
  }
  h2 {
    font-size: 0.7rem;
  }
  label, select, p {
    font-size: 0.6rem;
    margin-bottom: 10px;
  }
  footer p {
    font-size: 0.4rem;
  }
  .textContainer {
    margin-bottom: 90px;
  }
}




